.custom-card{
    width: 240px;
    

    
  }
  
  
  .custom-image{
    width: 100%;
    height: 200px; 
    overflow: hidden; 
    background-color: #E5E5E5;

    
        
      
  }
  .custom-image:hover{
    background-color: grey;
  }
  
  .custom-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-hover{
    background-color: #EEEEEE;
  }
  .card-hover:hover{
    background-color:#CDCDCD;
  }
  .card1-hover{
    background-color: #EEEEEE;
  }
  .card1-hover:hover{
    background-color: #CDCDCD;
  }
  .card2-hover{
    background-color: #EEEEEE;
  }
  
  .card2-hover:hover{
    background-color: #CDCDCD;
  }
  .card3-hover{
    background-color: #EEEEEE;
  }
  .card3-hover:hover{
    background-color: #CDCDCD;
  }
  .card4-hover{
    background-color: #EEEEEE;
  }
  .card4-hover:hover{
    background-color: #CDCDCD;
  }
  .card5-hover{
    background-color: #EEEEEE;
  }
  .card5-hover:hover{
    background-color: #CDCDCD;
  }
  .card6-hover{
    background-color: #EEEEEE;
  }
  .card6-hover:hover{
    background-color: #CDCDCD;
  }
  .card7-hover{
    background-color: #EEEEEE;
  }
  .card7-hover:hover{
    background-color: #CDCDCD;
  }
  .card8-hover{
    background-color: #EEEEEE;
  }
  .card8-hover:hover{
    background-color: #CDCDCD;
  }

  
  
  
  