.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/log.jpg');
    background-image: no-repeat;
    background-size: cover;
     
  }
  