.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('C:\Users\IHF3KOR\Pictures\log.jpg'); */
    background-image: no-repeat;
    background-size: cover;
     
  }
  